button, input, select{
  width: 100px;
  background:transparent;
  border: 4px solid white;
  height: 40px;
  border-radius: 500px;
  text-align: center;
  color: white;
  font-family: brandon;
  font-size: 18px;
  cursor: pointer;
  outline:none;
  @include appearance(none);
  @include box-sizing(initial);
}

input{
  cursor: text;
}

.locationButton{
  width: 30px;
  cursor: pointer;
}

.radius{
  width: 100px;
}
