button, input, select{
  width: 150px;
  background:transparent;
  border: 2px solid $yellow-color;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  color: $yellow-color;
  font-family: brandon;
  font-size: 18px;
  cursor: pointer;
  outline:none;
  @include appearance(none);
  @include box-sizing(initial);
}

input{
  cursor: text;
}

button{
  border-radius: 500px;
  @include transition(all 0.5s ease);
  &:hover{
    background:$yellow-color;
    color: $text-color;
  }
}

.locationButton{
  width: 30px;
  cursor: pointer;
}

.radius{
  width: 100px;
}
