@font-face {
    font-family: 'brandon';
    src: url('../../assets/fonts/brandon_reg.otf') format('otf'),
         url('../../assets/fonts/brandon_reg.woff2') format('woff2'),
         url('../../assets/fonts/brandon_reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
