@import "../bourbon/bourbon";
@import "variables";
@import "buttons";
@import "font";
body{
  margin: 0;
  font-family: brandon;
  .header{
    width: 100vw;
    height: 10vh;
    background: $yellow-color;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    color: $text-color;
    h1{
      margin-left:50px;
    }
    button{
      margin-right: 50px;
      border-color: $text-color;
      color: $text-color;
      @include transition(all 0.5s ease);
      &:hover{
        background:$text-color;
        color: $yellow-color;
      }
    }
    .signUpButton, .accountButton{
      display: none;
    }
    .accountMenu{
      display: none;
      position: fixed;
      top: 10vh;
      right: 0;
      background: $yellow-color;
      z-index: 3;
      width: 125px;
      height: 176px;
    }
  }
  .signUpForm{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    .registerContainer{
      height: 600px;
      width: 400px;
      background-color: rgba(0,0,0,0.98);
      color: white;
      text-align: center;
    }
  }
  main{
    #map {
      width: 100vw;
      height: 60vh;
      z-index: 1;
    }
    .formContainer{
      // @include background-image(linear-gradient(to bottom, $blue-color, $red-color));
      // @include background-image(radial-gradient(circle farthest-corner at 30vh 0, $off-black 60%, $red-color 100%));
      background: $off-black;
      height: 30vh;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(row);
      form{
        width: 100vw;
        @include display(flex);
        @include justify-content(space-around);
        @include align-items(center);
        @include flex-direction(row);
        .queryElems{
          @include display(flex);
          @include justify-content(space-around);
          @include align-items(center);
          @include flex-direction(row);
          input, select,img{
            margin-right: 15px;
          }
        }
      }
      .eventObjects{
        @include display(flex);
        @include justify-content(space-around);
        @include align-items(center);
        @include flex-direction(row);
        .column{
          &--one{
            width: 50vw;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(row);
            &--one{
              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(column);
            }
            &--two{
              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(column);
            }
          }
          &--two{
            width: 50vw;
            @include display(flex);
            @include justify-content(space-around);
            @include align-items(center);
            @include flex-direction(row);
            .nearby{
              @include display(flex);
              @include flex-direction(column);
            }
            .directions{
              @include display(flex);
              @include flex-direction(column);
            }
            .controlButtons{
              @include display(flex);
              @include flex-direction(column);
            }
          }
        }
      }
    }
  }
  .accountSettings {
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .accountSettingsForm {
    input, textarea {
      color: $yellow-color;
      border: 2px solid $yellow-color;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
    }
    textarea {
      padding: 10px;
    }
    button {
      background-color: $text-color;
      color: $yellow-color;
      border-radius: 5px;
      width: 48%;
      float: left;
      box-sizing: border-box;
      transition: all 0.2s ease;
      border: 2px solid $yellow-color;
      &:first-of-type {
        margin-right: 4%;
      }
      &:hover {
        background-color: white;
        color: #62748C;
      }
    }
  }
  .deleteProfileButton {
    color: $text-color;
    border: $text-color;
  }
  .popUp {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
    height: 100vh;
    background-color: $text-color;
    display: none;
    border-radius: 10;
  }
  .popUp img {
    height:15px;
    width:15px;
  }
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Float the list items side by side */
ul.tab li {float: left;}
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}
/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
