button, input, select {
  width: 100px;
  background: transparent;
  border: 4px solid white;
  height: 40px;
  border-radius: 500px;
  text-align: center;
  color: white !important;
  font-family: brandon;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial; }

.locationbutton {
  width: 30px;
  cursor: pointer; }

.radius {
  width: 100px; }

@font-face {
  font-family: 'brandon';
  src: url("../../assets/fonts/brandon_reg.otf") format("otf"), url("../../assets/fonts/brandon_reg.woff2") format("woff2"), url("../../assets/fonts/brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: brandon; }
  body .header {
    width: 100vw;
    height: 10vh;
    background: #62748C; }
  body main #map {
    width: 100vw;
    height: 60vh; }
  body main .formContainer {
    background-image: -webkit-radial-gradient(30vh 0, circle farthest-corner, #62748C 60%, #DB5560 100%);
    background-image: radial-gradient(circle farthest-corner at 30vh 0, #62748C 60%, #DB5560 100%);
    height: 30vh;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; }
    body main .formContainer form {
      width: 100vw;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; }
      body main .formContainer form .query-elems input, body main .formContainer form .query-elems select {
        margin-right: 15px; }
