<form class="event-selector">

        <label for="date-from">Date Frome</label>
        <input type="date" name="event[date-from]" placeholder="date-from">

        <label for="date-to">Date To</label>
        <input type="date" name="event[date-to]" placeholder="date-to">

        <label for="Location">Location</label>
        <input id="pac-input" class="controls" name="event[Location]" type="text" placeholder="Location">

        <label for="radius">Radius</label>
        <input type="number" name="event[radius]" placeholder="radius">

        <label for="type">Type</label>
        <input type="text" name="event[type]" placeholder="type">

        <button type="submit" id="submit-button">Create</button>
</form>
